.container{
    width: 60vh;
    padding: 20px;
}
.card{
  background: rgba(255, 255, 255, 0.322);
}
.alert{
  width: 40vh;
}
.master{position: relative; padding: 60px;  border-radius: 20px;}
.conatainer-days{  
max-width: 80%;
  position: absolute;
  bottom: -200px;

}
.header{
  background: var(--dark-blue, #282949);
  color: white;
  height: 70px;
  display: flex;
  direction: rtl ;
  margin-bottom: 30px;
  align-items: center;
  padding: 40px;
}
.header--Link{
  color: white;
  text-decoration: none;
}
.link{
  text-decoration: none;
}
.activ--link{
  color: red;
}
.header--ul{
  display: flex;
  
}
.header--li{
  list-style-type: none;
  margin: 10px;
}